*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  body{
      background-color: rgb(96, 122, 170);
    
  }
  .main{
     width: 320px;
     height: 620px;
     background-color: rgb(96, 122, 170);
     margin:26px 400px;
     font-size: 0;
     border: 10px solid white;
  }
  .cell {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid white;
    
  }
  .gameScore{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    width: 200px;
    height: 100px;
    border: 10px solid white;
    margin:27px 47px -117px 94px;
    color: aliceblue;
  }
  .pause{
    width: 100px;
    height: 30px;
     border: aliceblue;
     background-color: rgb(239, 242, 245);
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     
  }
  .button{
    margin:10px 450px;
    
  }
  .resume{
    width: 100px;
    height: 30px;
    border: aliceblue;
    background-color: rgb(239, 242, 245);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
  }
  .moving{
    background-color: rgb(240, 182, 222);
    }
    .fix{
      background-color: rgb(69, 76, 117);  
    }
    
  